<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <h3>以下の内容で、送信する。</h3>
    <%= form_for(@warmspring, url: warmspring_index_path, method: 'post') do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <div class="title-confirm">
        <p>タイトル:<%= @warmspring.title %></p>
      </div>
      <div class="image-confirm">
        <%= image_tag(@warmspring.image) %>
      </div>
      <%= hidden_field_tag :"cache[image]", @warmspring.image.cache_name %>
      <div class="content-confirm">
        <p>本文:<%= @warmspring.content %></p>
      </div>
      <%= f.submit "登録", class: "btn btn-primary btn-block-confirm" %>
    <% end %>
    <%= form_for(@warmspring, url: new_warmspring_path, method: 'get') do |f| %>
      <%= f.hidden_field :title %>
      <%= f.hidden_field :content %>
      <%= f.submit "戻る", name: 'back' %>
    <% end %>
  </div>
</div>