<div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1-blog">
    <p id="notice"><%= notice %></p>
    <div class=blog main>
      <h1>投稿一覧</h1>
      <%= link_to "写真を投稿する", new_warmspring_path, class: 'square_btn' %>
    </div>
    <% @warmsprings.each do |warmspring| %>
      <div class="box23">
        <p>気に入ったら、⭐️ボタンを押してね！</p>
      </div>
      <div class="row-blogs">
        <p>名前:<%= warmspring.user.name%></p>
        <p>タイトル:<%= warmspring.title %></p>
        <div class="img src-picture">
          <%#= link_to top5_blogs_path do %>
            <%= image_tag warmspring.image %>
            <%# end %>
          </div>
          <p>説明:<%= warmspring.content %></p>
          <%= render 'likes/like', warmspring: warmspring %>
          <div class="blog buttun">
            <% if current_user == warmspring.user %>
              <%= link_to "編集", edit_warmspring_path(warmspring.id), class: 'btn btn-default btn-sm btn-primary', data: { confirm: '本当に編集してもいいですか？' } %>
              <%= link_to "削除", warmspring_path(warmspring.id), method: :delete, data: { confirm: '本当に削除してもいいですか？' }, class: 'btn btn-default btn-sm btn btn-danger' %>
            <% end %>
          </div>
        </div>
        <div id="comments_area<%= warmspring.id %>">
          <%= render partial: 'warmspring_comments/index', locals: { comments: warmspring.warmspring_comments, warmspring: warmspring } %>
        </div>
        <%= render partial: 'warmspring_comments/form', locals: { comment: warmspring.warmspring_comments.build, warmspring: warmspring } %>
      <% end %>
    </div>
  </div>