<div class= star>
  <div id= <%= "like-link-#{season.id}" %> >
    <% if season.likes.find_by(user_id: current_user.id) %>
      <%= link_to "", unlike_path(season.id, season_name: season.model_name.name), method: :delete, remote: true, class: "star-rating-front" %>
      <%= season.likes.count.to_s %>
    <% else %>
      <%= link_to "★", like_path(season.id, season_name: season.model_name.name), method: :post, remote: true, class: "star-rating-back" %>
      <%= season.likes.count.to_s %>
    <% end %>
  </div>
</div>