<div class="container-fluid password">
  <div class="col-md-4 col-md-offset-4 pass new">
    <h1>パスワード再設定</h1>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "メールアドレス" %>
      </div>
      <div class="actions">
        <%= f.submit "再設定メールを送信する", class: "btn btn-primary" %>
      </div>
    <% end %>
    <%= link_to "戻る", new_user_session_path, class: "btn btn-default btn-sm" %>
  </div>
</div>