<!-- <div class="container">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1 ranking">
    <h3>いいね！ランキング</h3>
    <div class="row-ranking">
      <% @seasons.each do |season| %>
        <div class="ranking-rank">
          <strong><%= season.rank %></strong>
          <a>位</a>
          <div class="ranking-count">
            <strong><%= season.likes.count %></strong>
            <a>いいね🌟</a>
          </div>
        </div>
        <div class="ranking-user">
          <td><%= season.user.name %></td>
        </div>
        <div class="ranking-title">
          <td><%= season.title %></td>
        </div>
        <div class="ranking-image">
          <%#= link_to blogs_path do %>
            <%= image_tag season.image %>
            <%# end %>
          </div>
        <% end %>
      </div>
    </div>
  </div> -->