<% if comment.errors.any? %>
  <div id="error_explanation">
    <h2><%= comment.errors.count %>件のエラーがあります。</h2>
    <ul>
      <% comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<%= form_for([warmspring,comment], remote: true) do |f| %>
  <%= f.hidden_field :warmspring_id %>
  <div class="field">
    <%= f.text_field :content, placeholder: "コメント", class: "form-control"  %>
  </div>
  <div class="comment actions">
    <%= f.submit %>
  </div>
<% end %>