<div class="container-comment">
  <div class="col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1-comment">
    <h1>コメントを編集する</h1>
    <% if @summer_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= @summer_comment.errors.count %>件のエラーがあります。</h2>
        <ul>
          <% @summer_comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <%= form_for([@summer,@summer_comment]) do |f| %>
      <%= f.hidden_field :summer_id %>
      <div class="field">
        <%= f.text_field :content, placeholder: "コメント", class: "form-control" %>
      </div>
      <div class="actions edit">
        <%= f.submit "更新", class: "btn btn-default btn-sm btn-primary comment"%>
      </div>
      <%= f.submit "戻る", class: "btn btn-default btn-sm"%>
    <% end %>
  </div>
</div>